{% extends 'layout.html.twig' %}

{% block title %}
    Listado de llaves de {{ dependencia.descripcion }}
{% endblock %}

{% block content %}
    <h1>Listado de llaves de {{ dependencia.descripcion }}</h1>
    <table class="table table-bordered table-striped table-hover">
        <thead>
        <tr>
            <th>Código</th>
            <th>Descripción</th>
        </tr>
        </thead>
        <tbody>
        {% for llave in llaves %}
            <tr>
                <td>{{ llave.codigo }}</td>
                <td>{{ llave.descripcion }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">No hay ninguna en la dependencia</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <p>
        <a href="{{ path('dependencia_listar') }}" class="btn btn-info">
            <i class="fas fa-arrow-left"></i> Volver al listado de dependencias
        </a>
    </p>
{% endblock %}


