{% extends 'layout.html.twig' %}

{% block title %}
    Datos del usuario
{% endblock %}

{% block content %}
    <h1>
        {% if usuario.id %}
            Modificar usuario
        {% else %}
            Nuevo usuario
        {% endif %}
    </h1>
    {{ form_start(formulario) }}
    {{ form_widget(formulario) }}
    <a href="{{ path('usuario_listar') }}" class="btn btn-info"><i class="fa fa-arrow-left"></i> Volver al listado</a>
    <button type="submit" class="btn btn-success"><i class="fa fa-check"></i> Guardar cambios</button>
    {% if usuario.id %}
        <a href="{{ path('usuario_eliminar', {'id': usuario.id}) }}" class="btn btn-danger"><i class="fa fa-trash"></i> Eliminar usuario</a>
        <a href="{{ path('usuario_establecer_clave', {'id': usuario.id}) }}" class="btn btn-warning"><i class="fa fa-key"></i> Cambiar contraseña</a>
    {% endif %}
    {{ form_end(formulario) }}
{% endblock %}


