{% extends 'layout.html.twig' %}

{% block title %}
    Datos de la llave
{% endblock %}

{% block content %}
    <h1>Llave {{ llave.codigo }}</h1>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <a href="{{ path('llave_listar') }}" class="btn btn-info"><i class="fa fa-arrow-left"></i> Volver al listado</a>
    <button type="submit" class="btn btn-success"><i class="fa fa-check"></i> Guardar cambios</button>
    {{ form_end(form) }}
{% endblock %}


